{% extends "genclass/base.html" %}

{% block header %}

    <h1>Reg2Cal</h1>
    <p>Generating google calendar import's file from study's table reg.kmitl</p>

{% endblock %}

{% block content %}

    <section  class="col-sm-12">

        {% autoescape off %}
            {{ error }}
        {% endautoescape %}

        <form method="post" enctype="multipart/form-data">

            {% csrf_token %}

            <div class="form-group">

                {{ form.as_p }}

            </div>

            <button type="submit" class="btn btn-primary">Convert</button>
            <p id="downloadify"></p>

        </form>

    </section>

    {{ download_data | safe }}

{% endblock %}

{% block script %}

    {{ download_script | safe }}

{% endblock %}