{% extends "genclass/base.html" %}

{% block header %}

    <h1>Export success!</h1>
    <p>
        Congratulation for your successful.
    </p>

{% endblock %}

{% block content %}

    <section  class="col-sm-12">

        <p>You have a lot time to drink coffee or tea because you don't waste time for create event in your calendar.</p>
        <p>Thank you for use over service, Exit button is 'X' on top-right window.</p>
        <p>P.S. If you found me somewhere in university, You can buy some snack for me.</p>

    </section>

{% endblock %}