html, body{
    width: 100%;
    background-color: white;
}

img {
    margin: 10px auto 10px auto;
    width: 90%;
}

header{
    padding: 10px;
}

footer{
    padding: 10px;
}

hr {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

#main{
    padding: 10px;
}

.bg-success {
    background-color: #9c9 !important;
}

.errorlist {
    padding: 0 0 0 10px;
    background-color: bisque;
}

.errorlist li {
    list-style: none;
}

#help li {
    list-style-type: decimal;
}